body {
    background-color: rgb(250, 250, 250);
    font-family: Roboto, Arial, Tahoma, SansSerif;
    font-weight: 300;
    font-size: 1em;
}

.container {
    background: white;
    border-radius: 3px;
    margin-top: 80px;
    margin-bottom: 80px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
    .container {
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.progress {
    height: 30px;
    border-radius: 0px;
}

.progress-blue {
    background-color: #90CAF9;
}

.progress-bar {
    text-align: left;
    text-transform: uppercase;
    padding: 5px;
    font-size: 14px;
    font-weight: 800;
}

.progress-blue .progress-bar {
    background-color: #1e88e5;
}

.label {
    border-radius: 1px;
    padding: .3em .6em;
    font-size: 75%;
    font-weight: 400;
}

/*************************************
HEADER
*************************************/
#text-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#text-header h1::first-line {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.5em;
}

#text-header h1 span {
    color: #ef5350;
}

#text-header h1 sup {
    opacity: 0.5;
}

#text-header:after {
    width: 100%;
    height: 3px;
    margin-top: 15px;
    content: '';
    display: block;
}

/*************************************
BOX
*************************************/
.box {
    margin-bottom: 15px;
}

.box h2 {
    color: #1e88e5;
    font-size: 25px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}

.box h2:before {
    content: '// '
}

.box p {
    font-size: 1.3em;
    line-height: 1.5em;
}

.md-toolbar-tools {
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

/*************************************
TIMELINE
*************************************/
.timeline {
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}

.timeline:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    content: ' ';
    display: block;
    color: rgba(16, 108, 200, 0.8);
    background: -moz-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(7%, rgba(16, 108, 200, 0.8)), color-stop(80%, rgba(16, 108, 200, 0.8)), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, rgba(16, 108, 200, 0.8) 7%, rgba(16, 108, 200, 0.8) 80%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}

.timeline li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
}

.timeline li .year {
    width: 10%;
    background: #fff;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}

.timeline li .description {
    width: 80%;
    display: inline-block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.timeline li .description:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: -16px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #eee;
    border-width: 8px;
    pointer-events: none;
}

.timeline li .description h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.timeline li .description p {
    font-size: 1.3em;
    margin-top: 5px;
    padding: 0;
}

/*************************************
EXPERIENCE
*************************************/
.experience {
    margin-bottom: 15px;
}

.experience .societe {
    font-size: 1.4em;
    font-weight: bold;
}

.experience .annee {
    font-size: 1.3em;
    opacity: 0.7;
}

.experience .profession {
    font-size: 1.6em;
    font-weight: bold;
}

.experience .description {
    font-size: 1.2em;
    line-height: 1.5em;
}

/*************************************
EXPERIENCE
*************************************/
.contact i {
    width: 30px;
    opacity: 0.6;
}